{% extends 'base.html' %}

{% block content %}
{% if not user.is_authenticated %}
<div class="col-md-6 offset-md-3">
    <br>
    <h2>Login</h2>
    <form method="POST" action="{% url 'login' %}">
        <br>
        {% csrf_token %}
        <div class="mb-3">
          <input class="form-control" name="username" placeholder="Enter your username">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
</div>
{% else %}
<h1>You're already logged in</h1>
{% endif %}
{% endblock %}